<header>
  <h1>Welcome on tapboard</h1>
</header>
<div id="login" Class="container">
  <div class="title_form" (click)="show_form = 'login'">Login</div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin()" *ngIf="show_form === 'login'">
    <div class="form-group">
      <label for="email_login">Email</label>
      <input type="email" class="form-control" [(ngModel)]="userLogin.email" name="email_login" id="email_login" required>
    </div>

    <div class="form-group">
      <label for="password_login">Password</label>
      <input type="password" class="form-control" [(ngModel)]="userLogin.password" name="password_login" id="password_login" required>
    </div>

    <div class="submit">
      <button type="submit" [disabled]="!loginForm.form.valid">Connexion</button>
    </div>
  </form>
</div>

<div id="register" Class="container">
  <div class="title_form" (click)="show_form = 'register'">Register</div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" *ngIf="show_form === 'register'">
    <div class="subtitle_form">About you</div>
    <div class="form-group">
      <label for="first_name">First name</label>
      <input type="text" class="form-control" [(ngModel)]="userRegister.firstName" name="first_name" id="first_name" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last name</label>
      <input type="text" class="form-control" [(ngModel)]="userRegister.lastName" name="last_name" id="last_name" required>
    </div>

    <div class="subtitle_form">Login informations</div>
    <div class="form-group">
      <label for="email_register">Email</label>
      <input type="email" class="form-control" [(ngModel)]="userRegister.email" name="email_register" id="email_register" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="userRegister.password" name="password" id="password" required>
    </div>

    <div class="form-group">
        <input type="checkbox" [(ngModel)]="cgv" name="cgv" id="cgv" required>
        <label for="cgv">I accept the terms and conditions</label>
    </div>

    <div class="submit">
      <button type="submit" [disabled]="!registerForm.form.valid">Connexion</button>
    </div>
  </form>
</div>